/* ---------- Color Module Styles ----------- */

body {
  color: #372b2b;
  background: #d9afac;
}
#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #f4dad8;
}
.tabs ul.primary li a.is-active {
  background-color: #f4dad8;
}
.tabs ul.primary li.is-active a {
  background-color: #f4dad8;
  border-bottom-color: #f4dad8;
}
#header {
  background-color: #fbfafa;
  background-image: -webkit-linear-gradient(top, #c35a52 0%, #fbfafa 100%);
  background-image: linear-gradient(to bottom, #c35a52 0%, #fbfafa 100%);
}
a,
.link {
  color: #c42722;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #fa1912;
}
a:active,
.link:active {
  color: #ff4a44;
}
.sidebar .block {
  background-color: #f1d6d6;
  border-color: #d0d0d0;
}
.site-footer {
  background: #d9afac;
}
.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #121516;
}

/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}
[dir="rtl"] .color-form .form-item label {
  float: right;
}
[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}
